* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 2px;
    height: 70vh;
    border-color: cornflowerblue;
    border-radius: 50%;
}

.up,
.one {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock,
.timer {
    position: sticky;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 66px;
    padding: 50px;
    opacity: 0.5;
}

.reset_one:hover,
.stop_one:hover,
.generate_one:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    padding: 10px;
}

.hour,
.minute,
.second {
    padding: 10px;
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.up_,
.down {
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.down {
    transform: rotate(180deg);
}

.hour,
.minute,
.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour span,
.minute span,
.second span {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}



.generate ,
.stop ,
.reset ,
.reset_one,
.stop_one,
.generate_one {
    margin: 10px;
    opacity: 0.7;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s;
}

.generate:hover,
.stop:hover,
.reset:hover ,
.reset_one:hover ,
.stop_one:hover ,
.generate_one:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px black;
}